# sample .ssh/config
#
# last update: 2022.08.18.


########################
# My Linux Servers

# Common Settings for my Ubuntu Linux servers
Host my-*
	Port 22
	User ubuntu
# (for macOS)
Match Host my-* exec "[[ `uname -s` == 'Darwin' ]]"
	IdentityFile /Users/myself/.ssh/my.key
# (for Linux/WSL)
Match Host my-* exec "[[ `uname -s` == 'Linux' ]]"
	IdentityFile ~/.ssh/my.key
# (for Termux)
Match Host my-* !exec "[[ -z $TERMUX_VERSION ]]"
	IdentityFile /data/data/com.termux/files/home/.ssh/my.key

# my server 1
Host my-server1
	Hostname my-server1 # tailscale magic DNS

# my server 2
Host my-server2
	Hostname 11.22.33.44 # IP

