# .aliases for common aliases
#
# created by meinside@gmail.com
#
# last update: 2022.05.03.

alias ll="ls -alF"

alias ngrep="sudo ngrep -q -W byline"
alias ctags='ctags -R --totals=yes'
alias vimdiff='nvim -d'

alias httpserver="ruby -run -e httpd . -p 8888"

# referenced: https://thorsten-hans.com/5-types-of-zsh-aliases

# for macOS
if [[ $OSTYPE == darwin* ]]; then
	alias flush='dscacheutil -flushcache'

	alias chrome="open -a /Applications/Google\ Chrome.app"
fi

# suffix aliases (for zsh only)
if [[ $SHELL == *"/bin/zsh"* ]]; then
	alias -s {go,rs,cljs,cljc,c,cpp,zig,md,json,html,css}=vi
fi

