# .custom_env.sample
#
# last update: 2023.08.01.

# for macOS only
if [[ $OSTYPE == darwin* ]]; then
    # $ brew install coreutils
    alias ls='gls --color=auto'

    #export EDITOR="~/.asdf/shims/nvim"
    export EDITOR="/opt/homebrew/bin/nvim"
    export SVN_EDITOR=$EDITOR
    alias vi=$EDITOR
    alias vim=$EDITOR

    # for kitty
    alias icat="kitty +kitten icat"
fi

# launch a simple http server
alias httpserver="ruby -run -e httpd . -p 8888"

# for janet nrepl
alias janetnrepl="janet -e \"(import spork/netrepl) (netrepl/server)\""

# for SBCL REPL and Conjure
alias sbcl="rlwrap sbcl"
alias sbcl-swank="sbcl --eval '(ql:quickload :swank)' --eval '(swank:create-server :dont-close t)'"

# print go version of a compiled binary
gobuildversion() {
    if [ -e "$1" ]; then
        gdb "$1" -ex "print 'runtime.buildVersion'" -ex quit 2> /dev/null | tail -n 1 | grep -o '".*"' | tr -d '"'
    else
        echo "Go binary '$1' does not exist."
    fi
}

# private go modules
# (https://tip.golang.org/cmd/go/#hdr-Module_configuration_for_non_public_modules)
export GOPRIVATE=github.com/meinside

# docker cli options
export DOCKER_CLI_EXPERIMENTAL=enabled

# for luarocks packages (use `luarocks path`)
if [ -x "$(which luarocks)" ]; then
    eval "$(luarocks path)"
fi

# Raspberry Pi Pico SDK
export PICO_SDK_PATH=/home/ubuntu/srcs/pico/pico-sdk

