# ~/.gitignore
#
# last update: 2025.01.21.

# unnecessary binary files
*.a
*.al
*.class
*.o
*.lo
*.la
*.pyc
*.pyo
*.so
*.so.[0-9]*
*.swp
*~.nib
.libs

# history/log/cache/temp files or directories
.cache/
.dbshell
.*history*
.lldb/
.local/
.lsp/
.nvimlog
.openjfx/
.oracle_jre_usage/
.rncache/
.rpi-firmware
.sudo_as_admin_successful
.swt/
.wget-hsts
backups/
default.profraw
*.log*
oradiag*/
tmp/
wget-log*

# other scm files/dirs
.cvs
.subversion/
.svn

# macOS or Desktop files/dirs
.AppleDB
.AppleDesktop
.AppleDouble
.CFUserTextEncoding
.crash_*
.DS_Store
.Trash/
Applications/
Desktop/
Documents/
Downloads/
Games/
Library/
Movies/
Music/
Network Trash Folder/
Pictures/
Public/
Sites/
Templates/
Temporary Items/
Videos/

# Ubuntu files/dirs
snap/

# X11 files/dirs
.dbus/
.fontconfig/
.gtkrc-*
.kde4/
.pki/
.Xauthority
.xbindkeysrc
.xsession-errors

# steam deck files/dirs
.face.icon
.steam/
.steampath
.steampid
.var/

# c/c++
.ccls-cache/

# clojure files/dirs
.clojure/
.lein/

# dart files/dirs
.dart/
.dartServer/
.pub-cache/
.stagehand

# erlang files/dirs
erl_crash.dump

# golang files/dirs
.gore/

# haskell files/dirs
.cabal/
.ghc/
.ghcup/
.hoogle/
.stack/

# java files/dirs
.gradle/
.m2/
.oracle_jre_usage/

# python files/dirs
.pip/
.virtualenvs/
.vpython*

# ruby files/dirs
.gem
.rvm
.bundle
.bundler
.rvm/
.solargraph/

# rust files/dirs
.cargo/
.multirust
.rustup/

# xcode files
.cocoapods/
xcuserdata

# container files & dirs
.boot2docker/
.docker/
.dockercfg
.earthly/
.helm/
.kube/
.minikube/
.vs-kubernetes/

# other applications' files & dirs
.android/
.ape-*
.aptitude/
.asdf/
.aws/
.AndroidStudio*/
.codeium/
.conda/
.cortex-debug
.cpan/
.cups/
.dlv/
.dropbox/
.eclipse/
.elinks/
.elixir_ls/
.elixir-tools/
.emacs.d/
.ethash/
.fastlane/
.flutter
.ganttproject
.gdrive/
.Genymobile/
.ghidra/
.hex/
.htoprc
.httpie/
.ipfs/
.itmstransporter/
.keras/
.llamafile/
.landscape/
.lesshst
.lnav/
.lsp/
.magick/
.matplotlib/
.mitmproxy/
.motd_shown
.msf4/
.netrc
.ngrok2/
.npm/
.oci/
.oh-my-zsh/
.ollama/
.pcloud/
.plotly/
.putty/
.RData
.rest-client/
.rnd
.rstudio-desktop/
.shortcuts/
.srcclr/
.ssh/
.swiftpm/
.termux/
.tooling/
.vnc/
.vim/
.viminfo
.vscode*/
.wget-hsts
.wine/
.wireshark-etc/
.wireshark/
.Xresources
.yarnrc
.zcompdump*
.zsh_sessions/
Calibre Library/
Dropbox
Google Drive
mbox
micromamba/
Noiselith/
pCloud Drive/
pprof/
VirtualBox VMs/

# private/config files & dirs
.config/
.custom_env
.davmail.properties
.eclrc
.gnupg/
.selected_editor
.zsh-update

# personal data
.emulationstation/
.emulator_console_auth_token
.homebrew_analytics_user_uuid
.mame/
.wakeup
.sleep
bin/
emudeck/
homebrew/
files/
public_html/
srcs/
storage/

