# .gitignore of meinside@gmail.com
#
# last update: 2022.04.20.

# unnecessary binary files
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.class

# swap files
*.swp
*~.nib

# cache, temp files/dirs
.cache/
.lldb/
.local/
.lsp/
.openjfx/
.rncache/
.rpi-firmware
.sudo_as_admin_successful
.swt/
backups/
default.profraw
dive.log
ganttproject.log*
java*.log*
oradiag*/
tmp/

# other scm files/dirs
.svn
.cvs
.subversion/

# macOS files/dirs
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.Trash/
.CFUserTextEncoding
.crash_*
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Network Trash Folder/
Pictures/
Public/
Sites/
Templates/
Temporary Items/
Videos/

# Ubuntu files/dirs
snap/

# X11 files/dirs
.fontconfig/
.dbus/
.Xauthority
.xsession-errors

# asdf
.asdf/

# c/c++
.ccls-cache/

# clojure files/dirs
.clojure/
.lein/

# dart files/dirs
.dart/
.dartServer/
.pub-cache/
.stagehand

# golang files/dirs
.gogets
.gore/

# haskell files/dirs
.cabal/
.ghc/
.ghcup/
.hoogle/
.stack/

# java files/dirs
.gradle/
.m2/
.oracle_jre_usage/


# julia files/dirs
.julia/

# node.js files/dirs
.babel.json
.config/configstore
.node-gyp
.npm/
node_modules/
npm-debug.log
package-lock.json

# perl files/dirs
perl*/

# python files/dirs
.pip/
.virtualenvs/

# ruby files/dirs
.gem
.rvm
.bundle
.bundler
.rvm/
.solargraph/

# rust files/dirs
.cargo/
.multirust
.rustup/

# xcode files
.cocoapods/
xcuserdata

# other src files
public_html/
srcs/

# private/config files & dirs
.android/
.aptitude/
.aws/
.config/
.custom_env
.davmail.properties
.docker/
.eclrc
.elinks/
.gdrive/
.gist-vim
.gitconfig
.gnupg
.gtmx.json
.lsp/
.oci/
.oh-my-zsh/
.selected_editor
.srcclr/
.ssh/
.wget-hsts
.zcompdump*
.zsh_sessions/
.zsh-update
mbox

# container files & dirs
.boot2docker/
.docker/
.dockercfg
.earthly/
.helm/
.kube/
.minikube/
.vs-kubernetes/

# history files
.*history
.dbshell
.fennel_history
.nvimlog
.oracle_jre_usage/
.psql_history*
.wget-hsts

# other applications' files & dirs
.AndroidStudio*/
.cpan/
.cups/
.dlv/
.dropbox/
.dropbox-master/
.eclipse/
.ethash/
.fastlane/
.flutter
.ganttproject
.Genymobile/
.ghidra/
.heroku/
.htoprc
.httpie/
.ipfs/
.itmstransporter/
.keras/
.landscape/
.lesshst
.lnav/
.luarocks/
.magick/
.matplotlib/
.mitmproxy/
.motd_shown
.netrc
.ngrok2/
.plotly/
.putty/
.RData
.rest-client/
.rnd
.rstudio-desktop/
.swiftpm/
.terminfo/
.termux/
.tooling/
.vnc/
.vim/
.viminfo
.vimrc.lowperf
.vscode*/
.w3m/
.wireshark-etc/
.wireshark/
.Xresources
.yarnrc
Calibre Library/
Dropbox/
Google Drive/
VirtualBox VMs/
pprof/

# personal data
.emulator_console_auth_token
.homebrew_analytics_user_uuid
.wakeup
.sleep
bin/
files/
storage/

