# ~/.gitignore
#
# last update: 2023.03.29.
#
# meinside@duck.com

# unnecessary binary files
*.a
*.al
*.class
*.o
*.lo
*.la
*.pyc
*.pyo
*.so
*.so.[0-9]*
*.swp
*~.nib
.libs

# history/log/cache/temp files or directories
*.log*
.*_history*
.*-history*
.cache/
.dbshell
.lldb/
.local/
.lsp/
.nvimlog
.openjfx/
.oracle_jre_usage/
.rncache/
.rpi-firmware
.sudo_as_admin_successful
.swt/
.vpython_cipd_cache
.vpython-root
.wget-hsts
backups/
default.profraw
oradiag*/
tmp/
wget-log*

# other scm files/dirs
.svn
.cvs
.subversion/

# macOS files/dirs
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.Trash/
.CFUserTextEncoding
.crash_*
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Network Trash Folder/
Pictures/
Public/
Sites/
Templates/
Temporary Items/
Videos/

# Ubuntu files/dirs
snap/

# X11 files/dirs
.dbus/
.fontconfig/
.gtkrc-*
.kde4/
.pki/
.Xauthority
.xbindkeysrc
.xsession-errors

# steam deck files/dirs
.face.icon
.steam/
.steampath
.steampid
.var/

# brew files/dirs
Brewfile.lock.json

# c/c++
.ccls-cache/

# clojure files/dirs
.clojure/
.lein/

# dart files/dirs
.dart/
.dartServer/
.pub-cache/
.stagehand

# golang files/dirs
.gogets
.gore/

# haskell files/dirs
.cabal/
.ghc/
.ghcup/
.hoogle/
.stack/

# java files/dirs
.gradle/
.m2/
.oracle_jre_usage/

# python files/dirs
.pip/
.virtualenvs/

# ruby files/dirs
.gem
.rvm
.bundle
.bundler
.rvm/
.solargraph/

# rust files/dirs
.cargo/
.multirust
.rustup/

# xcode files
.cocoapods/
xcuserdata

# container files & dirs
.boot2docker/
.docker/
.dockercfg
.earthly/
.helm/
.kube/
.minikube/
.vs-kubernetes/

# other applications' files & dirs
.android/
.aptitude/
.asdf/
.aws/
.AndroidStudio*/
.cpan/
.cups/
.dlv/
.dropbox/
.dropbox-master/
.eclipse/
.elinks/
.ethash/
.fastlane/
.flutter
.ganttproject
.gdrive/
.Genymobile/
.ghidra/
.heroku/
.htoprc
.httpie/
.ipfs/
.itmstransporter/
.keras/
.landscape/
.lesshst
.lnav/
.lsp/
.magick/
.matplotlib/
.mitmproxy/
.motd_shown
.netrc
.ngrok2/
.oci/
.oh-my-zsh/
.plotly/
.putty/
.RData
.rest-client/
.rnd
.rstudio-desktop/
.srcclr/
.ssh/
.swiftpm/
.wget-hsts
.terminfo/
.termux/
.tooling/
.vnc/
.vim/
.viminfo
.vimrc.lowperf
.vscode*/
.wireshark-etc/
.wireshark/
.Xresources
.yarnrc
.zcompdump*
.zsh_sessions/
Calibre Library/
Dropbox
Google Drive/
mbox
pprof/
VirtualBox VMs/

# private/config files & dirs
.config/
.custom_env
.davmail.properties
.eclrc
.gist-vim
.gnupg
.gtmx.json
.selected_editor
.zsh-update

# personal data
.emulationstation/
.emulator_console_auth_token
.homebrew_analytics_user_uuid
.mame/
.wakeup
.sleep
bin/
emudeck/
homebrew/
files/
public_html/
srcs/
storage/

