# .gogets.sample
#
# $ go install github.com/meinside/goget@latest
# $ goget
#
# then it will automatically  `go install` or `go get -u` all packages listed in this file(~/.gogets)
#
# last update: 2022.07.20.

# official packages
golang.org/x/tools/cmd/godoc
github.com/tools/godep

# useful packages/tools
github.com/mailgun/godebug
github.com/x-motemen/gore/cmd/gore
github.com/tcnksm/gotests
github.com/google/gops

# for development
github.com/davecheney/httpstat
github.com/cespare/goclj/cljfmt
golang.org/x/tools/gopls@latest
github.com/go-delve/delve/cmd/dlv
github.com/golangci/golangci-lint/cmd/golangci-lint@v1.41.1

# for development (VS Code)
github.com/mdempsky/gocode
github.com/ramya-rao-a/go-outline
github.com/acroca/go-symbols
github.com/uudashr/gopkgs/cmd/gopkgs
golang.org/x/tools/cmd/guru
golang.org/x/tools/cmd/gorename
golang.org/x/tools/cmd/goimports
github.com/zmb3/gogetdoc
golang.org/x/lint/golint

# for writing
github.com/errata-ai/vale@v2.17.0

# for backup/sync
github.com/rclone/rclone

# my packages
github.com/meinside/gtmx@latest
github.com/meinside/goget@latest
github.com/meinside/backupboxxx@latest
github.com/meinside/pb-send@latest
github.com/meinside/google-ddns-updater@latest

