# My .tool-versions for `asdf`
#
# created on : 2022.04.14.
# last update: 2022.04.15.

# $ asdf plugin add babashka
# $ asdf install babashka latest
# $ asdf global babashka latest
babashka 0.8.0

# $ asdf plugin add clojure
clojure 1.10.3.1087

# $ asdf plugin add golang
# $ asdf install golang
golang 1.18.1

# $ asdf plugin add java
java openjdk-17.0.2

# $ asdf plugin add julia
# $ asdf install julia
julia 1.7.2

# $ asdf plugin add leiningen
# $ asdf install leiningen
leiningen 2.9.8

# $ asdf plugin add nodejs
# $ asdf install nodejs
nodejs 16.14.2

# $ asdf plugin add ruby
# $ asdf install ruby
ruby 3.1.2

# $ asdf plugin add rust
# $ asdf install rust
#
# For rust-analyzer, (https://rust-analyzer.github.io/manual.html#installation)
#   $ git clone https://github.com/rust-analyzer/rust-analyzer.git
#   $ cd rust-analyzer/
#   $ cargo xtask install --server
rust 1.60.0

# $ asdf plugin add zig
# $ asdf install zig
#
# For zls, (https://github.com/zigtools/zls)
#   $ sudo rm -rf /opt/zls
#   $ sudo mkdir -p /opt/zls
#   $ sudo chown -R "$USER" /opt/zls
#   $ git clone --recurse-submodules https://github.com/zigtools/zls /opt/zls
#   $ cd /opt/zls
#   $ git checkout master
#   $ zig build -Drelease-safe
#   $ zig-out/bin/zls config
zig 0.9.1

