# $XDG_CONFIG_HOME/goget/packages
#
# $ go install github.com/meinside/goget@latest
# $ goget
#
# then it will automatically  `go install` or `go get -u` all packages listed in this file
#
# last update: 2025.05.23.

# for backup/sync
github.com/rclone/rclone

# my packages
github.com/meinside/backupboxxx@latest
github.com/meinside/balog@latest
github.com/meinside/cloudflare-go/cmd/cf-dns-cli@latest
github.com/meinside/gmn@latest
github.com/meinside/goget@latest
github.com/meinside/gtmx@latest
github.com/meinside/nfc-normalizer-go/cmd/nfcmv@latest
github.com/meinside/pb-send@latest
github.com/meinside/telegram-remotecontrol-bot/cmd/telegram-bot-broadcast

