# .config/goget/packages.sample
#
# $ go install github.com/meinside/goget@latest
# $ goget
#
# then it will automatically  `go install` or `go get -u` all packages listed in this file(~/.config/goget/packages)
#
# last update: 2023.06.09.

# official packages
golang.org/x/tools/cmd/godoc
github.com/tools/godep

# useful packages/tools
github.com/google/gops

# for development
github.com/cespare/goclj/cljfmt
github.com/go-delve/delve/cmd/dlv
golang.org/x/tools/gopls@latest
github.com/golangci/golangci-lint/cmd/golangci-lint@v1.47.2

# for writing
github.com/errata-ai/vale@latest # get from: https://github.com/errata-ai/vale/releases

# for backup/sync
github.com/rclone/rclone

# my packages
github.com/meinside/gtmx@latest
github.com/meinside/goget@latest
github.com/meinside/backupboxxx@latest
github.com/meinside/pb-send@latest
github.com/meinside/google-ddns-updater@latest
github.com/meinside/nfc-normalizer-go/cmd/nfcmv@latest

