;; A sample for .lein/profiles.clj
;;
;; last update: 2021.05.13.

{:user {
        ;; repl-options
        :repl-options {
                       ;; timeout: 180 secs
                       :timeout 180000}

        ;; plugins
        :plugins [
                  ;; https://github.com/kumarshantanu/lein-exec
                  [lein-exec "0.3.7"]

                  ;; https://github.com/technomancy/leiningen/tree/master/lein-pprint
                  [lein-pprint "1.3.2"]

                  ;; https://github.com/clojure-emacs/cider-nrepl
                  [cider/cider-nrepl "0.26.0"]

                  ;; https://github.com/xsc/lein-ancient
                  [lein-ancient "0.7.0"]

                  ;; https://github.com/venantius/ultra
                  [venantius/ultra "0.6.0"]]

        ;; dependencies
        :dependencies [
                       ;; https://github.com/technomancy/slamhound (archived)
                       [slamhound "1.5.5"]]

        ;; global variables
        :global-vars {*print-length* 20}}

 ;; for repl with `reveal` ($ lein with-profile reveal repl)
 :reveal {
          ;; dependencies
          :dependencies [
                         ;; https://github.com/nrepl/nrepl
                         [nrepl "0.8.3"]

                         ;; https://github.com/vlaaad/reveal
                         [vlaaad/reveal "1.2.186"]]
          :repl-options {
                         ;; https://github.com/vlaaad/reveal
                         :nrepl-middleware [vlaaad.reveal.nrepl/middleware]}

          ;; global variables
          :global-vars {*print-length* 100}}}
