# ~/.config/halloy/config.toml.sample
#
# A sample Halloy config file.
#
# For a complete list of available options,
# please visit https://halloy.chat/configuration/
#
# last update: 2025.10.28.

theme = "catppuccin-mocha" # ~/.config/halloy/themes/catppuccin-mocha.toml

# Libera Chat
[servers.liberachat]
server = "irc.libera.chat"
nickname = "nickname" # TODO: put your nickname here
nick_password_file = "~/.config/halloy/nick_password" # TODO: put your nickserve password filepath
channels = [ # TODO: put your favorite channels
  "#bnc4free",
  "#halloy",
  "#libera",
]

################################################################
#
#

# Libera Chat with IRC Bouncer
[servers.liberachat_bounced]
server = "xxx.bnc4free.com" # TODO: put your bouncer server address
port = 1339 # TODO: put your bouncer server port
use_tls = true
username = "username" # TODO: put your bouncer username
password_file = "~/.config/halloy/bnc_password" # TODO: put your bouncer password filepath
nickname = "nickname" # TODO: put your nickname
nick_password_file = "~/.config/halloy/nick_password" # TODO: put your nickserve password filepath
channels = [ # TODO: put your favorite channels
  "#AGI",
  "#ai",
  "#algorithms",
  "#android",
  "##anime",
  "##asm",
  "##astronomy",
  "##audio",
  "##aws",
  "#bash",
  "#blender",
  "#c",
  "#calibre",
  "##chat",
  "#clojure",
  "#crypto",
  "#cuda",
  "#curl",
  "#cybersecurity",
  "#debian",
  "#duckduckgo",
  "##electronics",
  "#elixir",
  "#erlang",
  "##fdroid",
  "#fennel",
  "#ffmpeg",
  "#firefox",
  "#fsf",
  "#gamedev",
  "#gamingonlinux",
  "#git",
  "#gnu",
  "#go",
  "#go-nuts",
  "#hackers",
  "#halloy",
  "#hardware",
  "#haskell",
  "##hntop",
  "#janet",
  "#kernel",
  "#korea",
  "#letsencrypt",
  "#libera",
  "#linux",
  "#lisp",
  "#lispgames",
  "##llm",
  "#lobsters",
  "#lua",
  "##mac",
  "##machinelearning",
  "##machinelearning-general",
  "#mastodon",
  "##math",
  "##music",
  "#neovim",
  "##news",
  "#nginx",
  "#nim",
  "##physics",
  "##posix",
  "#proglangdesign",
  "##programming",
  "#raspberrypi",
  "##re",
  "##rtlsdr",
  "#ruby",
  "##rust",
  "##science",
  "#security",
  "##space",
  "##sqlite",
  "#tailscale",
  "#tmux",
  "#ubuntu",
  "#ubuntu-server",
  "#zig",
  "#zsh",
]

#
#
################################################################


[actions.buffer]
click_channel_name = "new-pane"
click_highlight = "new-pane"
click_username = "new-pane"
local = "new-pane"
message_channel = "new-window"
message_user = "new-window"

[actions.sidebar]
buffer = "replace-pane"

[buffer.buffer_separator]
hide_when_all_read = true

[buffer.channel.topic]
enabled = true
max_lines = 5

[buffer.date_separators]
format = "%Y/%0m/%0d (%A)"

[buffer.internal_messages.success]
smart = 180

[buffer.internal_messages.error]
smart = 3600

[buffer.nickname]
brackets = { left = "<", right = ">" }
truncate = 16

[buffer.server_messages.join]
smart = 300

[buffer.server_messages.part]
smart = 300

[buffer.server_messages.quit]
smart = 300

[buffer.server_messages.topic]
enabled = false

[buffer.server_messages.change_host]
enabled = false

[buffer.server_messages.change_mode]
smart = 900

[buffer.server_messages.change_nick]
smart = 3600

[buffer.server_messages.change_topic]
smart = 900

[buffer.status_message_prefix]
brackets = { left = "<", right = ">" }

[buffer.text_input]
auto_format = "markdown"

[buffer.timestamp]
format = "%T"
brackets = { left = "[", right = "]" }

[buffer.url]
prompt_before_open = true

[notifications.direct_message]
sound = "ring"
show_toast = true
show_content = false

[notification.file_transfer_request]
sound = "ring"
show_toast = true
show_content = false

[notifications.highlight]
sound = "bonk"
show_toast = true
show_content = false

[notifications.monitored_offline]
sound = "peck"
show_toast = true

[notifications.monitored_online]
sound = "dong"
show_toast = true

[sidebar.unread_indicator]
title = true
icon = "dot"
