# .config/git/config.sample
#
# (copy as `~/.config/git/config` and customize it)
#
# last update: 2023.03.31.

[init]
  defaultBranch = master

[alias]
  # commands
  cl = clone
  co = checkout
  ci = commit
  st = status
  br = branch
  unstage = reset HEAD --
  type = cat-file -t
  dump = cat-file -p
  cp = cherry-pick
  fetchall = fetch --all --tags --prune
  pullall = pull --all --tags --prune

  # log
  l = log
  ls = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ll = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short -p

  # diff
  diff = diff --word-diff
  ds = diff --staged
  dc = diff --cached

  # stash
  sl = stash list
  sa = stash apply
  ss = stash save
  stashall = stash save --include-untracked

  # submodule
  su = submodule update
  sui = submodule update --init --recursive

  # grep with group
  g = "grep --break --heading --line-number"

  # remove remotely deleted branches
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
[status]
  showUntrackedFiles = all
[commit]
  template = ~/.config/git/commit-template
[grep]
  extendRegexp = true
  lineNumber = true
  fullname = true
[color]
  ui = auto
[core]
#  editor = nvim
  editor = vim
[push]
#  default = simple
#[diff]
#  tool = nvimdiff
#[difftool]
#  prompt = true
#[difftool "nvimdiff"]
#  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = vimdiff
[branch]
#  autoSetupMerge = always
#  autosetuprebase = always    # or `git pull --rebase`
[pull]
#  rebase = false
#  ff = only
[user]
  name = Sungjin Han
  email = meinside@duck.com
[github]
  user = meinside
[tag]
  sort = version:refname
[submodule]
  recurse = true

# gitflow
[gitflow "branch"]
  master = master
  develop = develop
[gitflow "prefix"]
  feature = feature/
  release = release/
  hotfix = hotfix/
  bugfix = bugfix/
  support = support/
  versiontag = v

# force ssh for my own repositories
#[url "ssh://git@github.com/meinside/"]
#  insteadOf = https://github.com/meinside/

