# .config/git/config.sample
#
# (copy as `~/.config/git/config` and customize it)
#
# last update: 2025.09.16.

[alias]
  # commands
  cl = clone
  co = checkout
  ci = commit
  st = status
  br = branch
  unstage = reset HEAD --
  type = cat-file -t
  dump = cat-file -p
  cp = cherry-pick
  fetchall = fetch --all --tags --prune
  pullall = pull --all --tags --prune

  # log
  l = log
  ls = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  ll = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short -p

  # diff
  diff = diff --word-diff
  ds = diff --staged
  dc = diff --cached

  # stash
  sl = stash list
  sa = stash apply
  ss = stash save
  stashall = stash save --include-untracked

  # submodule
  su = submodule update
  sui = submodule update --init --recursive

  # grep with group
  g = "grep --break --heading --line-number"

  # remove remotely deleted branches
  gone = ! "git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"

  # list all unpushed commits
  out = "log @{u}.."

[apply]
  whitespace = fix # remove trailing whitespaces

[branch]
#  autoSetupMerge = always
#  autosetuprebase = always    # or `git pull --rebase`
  sort = -committerdate

[color]
  ui = auto

[column]
  ui = auto

[commit]
  template = ~/.config/git/commit-template
  verbose = true

[core]
  editor = vim
#  editor = nvim
  excludesfile = ~/.gitignore
  fsmonitor = false
  ignorecase = false
#  pager = delta  # $ sudo apt install git-delta
  untrackedCache = true

[delta]
  diff-so-fancy = true
  hyperlinks = true
  light = false
  line-numbers = true
  navigate = true
  side-by-side = true

[diff]
#  tool = nvimdiff
  algorithm = histogram
  colorMoved = plain
  colorMovedWS = allow-indentation-change
  mnemonicPrefix = true
  renames = true

[diff "sqlite3"]
  binary = true
  textconv = "echo .dump | sqlite3"

#[difftool]
#  prompt = true

#[difftool "nvimdiff"]
#  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[fetch]
  prune = true
  pruneTags = true
  all = true

[format]
  pretty = fuller

[github]
#  user = meinside

[grep]
  extendRegexp = true
  lineNumber = true
  fullname = true

[help]
  autocorrect = prompt

[init]
  defaultBranch = master

[interactive]
#  diffFilter = delta --color-only  # $ sudo apt install git-delta

[log]
  date = local

[merge]
  tool = vimdiff
#  tool = nvimdiff
#  conflictstyle = zdiff3 # since git 2.35.0

[pull]
#  rebase = false
#  ff = only

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[rebase]
  autoSquash = true
  autoStash = true  # auto `git stash/pop` before and after `git rebase`
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true

[status]
  showUntrackedFiles = all

[submodule]
  recurse = true

[tag]
  sort = version:refname

[user]
#  name = Sungjin Han
#  email = meinside@duck.com


################
# gitflow

[gitflow "branch"]
  master = master
  develop = develop

[gitflow "prefix"]
  feature = feature/
  release = release/
  hotfix = hotfix/
  bugfix = bugfix/
  support = support/
  versiontag = v


################
# force fsmonitor in ~/srcs/**
[includeIf "gitdir:~/srcs/**/"]
  path = ~/.config/git/fsmonitor


################
# urls

# force ssh for my own repositories
#[url "ssh://git@github.com/meinside/"]
#  insteadOf = https://github.com/meinside/

